@font-face {
    font-family: "Outfit";
    src: url("src/Outfit-VariableFont_wght.ttf") format('truetype');
}

//TITLE

@mixin t1-bold-128 {
    font-size: 8rem;
    line-height: 106%;
    font-weight: 700;
    font-family: 'OutFit';
}

@mixin t2-bold-96 {
    font-size: 6rem;
    line-height: 106%;
    font-weight: 700;
    font-family: 'OutFit';
}

@mixin t3-bold-64 {
    font-size: 4rem;
    line-height: 106%;
    font-weight: 700;
    font-family: 'OutFit';
}

@mixin t4-bold-48 {
    font-size: 3rem;
    line-height: 106%;
    font-weight: 700;
    font-family: 'OutFit';
}

@mixin t5-SemiBold-48 {
    font-size: 3rem;
    font-weight: 600;
    font-family: 'OutFit';
}

@mixin t6-bold-40 {
    font-size: 2.5rem;
    line-height: 106%;
    font-weight: 700;
    font-family: 'OutFit';
}

@mixin t7-bold-32 {
    font-size: 2rem;
    line-height: 106%;
    font-weight: 700;
    font-family: 'OutFit';
}

@mixin t8-SemiBold-37 {
    font-size: 2.3rem;
    line-height: 17px;
    font-weight: 600;
    font-family: 'OutFit';
}

//SUBTITLE

@mixin s1-semiBold-36 {
    font-size: 2.25rem;
    font-weight: 600;
    font-family: 'OutFit';
}

@mixin s2-semiBold-24 {
    font-size: 1.5rem;
    line-height: 120%;
    font-weight: 600;
    font-family: 'OutFit';
}

@mixin s3-regular-24 {
    font-size: 1.5rem;
    line-height: 120%;
    font-weight: 400;
    font-family: 'OutFit';
}

@mixin s4-semiBold-20 {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'OutFit';
}

@mixin s5-medium-20 {
    font-size: 1.25rem;
    font-weight: 500;
    font-family: 'OutFit';
}

@mixin s6-regular-20 {
    font-size: 1.25rem;
    line-height: 120%;
    font-weight: 400;
    font-family: 'OutFit';
}

@mixin s7-light-20 {
    font-size: 1.25rem;
    line-height: 140%;
    font-weight: 300;
    font-family: 'OutFit';
}

//body 

@mixin b1-medium-16 {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'OutFit';
}

@mixin b2-regular-16 {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'OutFit';
}

@mixin b3-medium-14 {
    font-size: 0.875rem;
    line-height: 22px;
    font-weight: 500;
    font-family: 'OutFit';
}

@mixin b4-regular-14 {
    font-size: 0.875rem;
    line-height: 22px;
    font-weight: 400;
    font-family: 'OutFit';
}

@mixin b5-light-14 {
    font-size: 0.875rem;
    line-height: 140%;
    font-weight: 300;
    font-family: 'OutFit';
}

@mixin b6-light-14-underline {
    font-size: 0.875rem;
    line-height: 140%;
    font-weight: 300;
    font-family: 'OutFit';
    text-decoration: underline;
}

@mixin b7-regular-12 {
    font-size: 0.75rem;
    line-height: 20px;
    font-weight: 400;
    font-family: 'OutFit';
}

//COLORS

$grayscale00: #000000;
$grayscale01: #181818;
$grayscale02: #444444;
$grayscale03: #B9B9B9;
$grayscale04: #CFCFCF;
$grayscale05: #E4E4E4;
$grayscale06: #F5F5F5;
$grayscale07: #FFFFFF;
$grayscale20: #F1F1F1;
$grayscale30: #A7A7A7;

$primary00: #7B31D4;
$primary01: #954CED;
$primary02: #A64CED;
$primary03: #BA8BF3;
$primary04: rgba(149, 76, 237, 0.2);

$secondary01: #2FDBBC;
$secondary02: #FFAA4C;
$secondary03: #C1DB2F;

$additional01: #FF6C2D;
$additional02: #EC1211;

//PADDING-MARGIN

$default-padding-margin: 6rem;
$default-text-padding-margin: 3rem;

//buttons

@mixin primary-button($isDark) {
    @include s4-semiBold-20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    width: 11rem;
    height: 3.6rem;
    border-radius: 1rem;
    background-color: $primary01;
    color: $grayscale07;
    padding: 0.9rem 1.7rem 1rem 0.9rem;
    gap: 1rem;
    font-family: 'OutFit';

    transition: 0.3s 0s;

    @if($isDark) {
        border: 2px solid $primary01;
    }

    &:hover {
        background-color: $grayscale01;
    }

    &:focus {
        border: 4px solid $primary03;
    }

    &:disabled {
        color: $grayscale02;
        background-color: $grayscale03;
    }
}

@mixin secondary-button() {
    @include s4-semiBold-20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 3.6rem;
    border-radius: 16px;
    background-color: $grayscale00;
    border: 2px solid $primary01;
    color: $grayscale07;
    padding: 0.9rem 1.7rem 1rem 0.9rem;
    gap: 1rem;
    font-family: 'OutFit';

    transition: 0.3s 0s;

    @if($isDark) {
        border: 2px solid $primary01;
    }

    &:hover {
        background-color: $primary04;
    }

    &:focus {
        border: 4px solid $primary01;
    }

    &:disabled {
        color: $grayscale03;
        background-color: $grayscale00;
        border: 2px solid $grayscale00;
    }
}

@mixin placeholder-input {
    @include b4-regular-14();
    border: 1px solid $grayscale20;
    color: $grayscale00;
    border-radius: 14px;
    height: 2.5rem;
    padding: 0.6rem 1rem 0.6rem 1rem;
    gap: 0.6rem;
    font-family: 'OutFit';

    &:active {
        color: $grayscale00;
        border: 1px solid $grayscale30;
    }

    &:disabled {
        border: 1px solid $grayscale20;
        color: $grayscale00;
    }
}